$color: blueviolet;

body {
  background-color: $color;

  h1 {
    color: white;
  }
}

.btn {
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid #000;
  padding: 5px 10px;
  
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}

.item {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

.map {
  background-color: #eee;
}

